html {scroll-behavior: smooth;}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style:none;
}
body{
    color: #001755;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    background-color: rgb(10 24 40);
}



#navbar{
    width: 100%;
    position: relative;
    z-index: 200;
}

#navbar ul{
    padding:0;
    display: flex;
    justify-content: center;
    
}

#navbar a{
    display: inline-block;
    color:#fff;
    font-size:  18px;
    padding: 19px 12px;
    margin-right: 60px;
    border-radius: 10px;
    background:none;
    transition: all .2s linear;
}

#navbar a:hover {
    background: white;
    color: black;
}

#showcase{
    position: relative;
    top:-63px;
    padding-top: 100px;
    color:#fff;
    height: 500px;
    max-width:  100%;
    margin-bottom: 30px;
    text-align: center;
    background: url(images/alpha-academy-java.jpg) no-repeat;
    background-size: cover;
}
.title{
    /* margin: auto; */
    /* margin-top: 100px; */
    position: absolute;
    top: 250px;
    left: 150px;
}
#showcase h1 , h3{
     font-family: monospace, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 50px;
    line-height: 1.6em;
    color: azure;
    /* padding-top: 30px; */
}
#about{

    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
#about h1{
    position: absolute;
    color: azure;
    
}
#about img{
    margin: 10px;
    width: 300px;
    height: 440px;
    border-radius: 10px;
}
#about-txt{
    padding: 30px 30px;
    color: white;
}
#about-txt p{
    margin-bottom: 20px;
}
#about-txt a{
    display: inline-block;
    color: white;
    padding: 10px;
    background-color: dodgerblue;
    margin-top: 20px;
    border-radius: 5px;
}
.position-txt{
    text-align: right;
}
#name{
    font-family: 'Dancing Script', cursive;
    font-size:larger;
    padding-right: 36px;
}

footer{
    height: 60px;
    color:#fff;
    text-align: center;
    padding: 20px;
    margin-top: 120px;
    box-sizing: border-box;
}

/* ########### contact ############# */
#contact{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    color: #9b9696;
}
#contact input,textarea{
    display: block;
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}
#contact button{
    display: block;
    width: 420px;
    padding: 10px;
    color:#ffffff;
    background-color: #021949;
    border-radius: 5px;
    border: none;
}
#contact-me{
    padding: 0 30px 0 100px;
}
.title-contact{
    margin-bottom: 30px;
    color: #ffffff;
}
.contact-txt{
    padding:10px 0 20px 10px;
  
}
.contact-txt a{
    color: #9ed2ec;
}

#address{
    margin: auto;
    margin-top: 50px;
}
#address h2{
    padding-left: 50px;
}
/* google map */
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:95%;
}
.gmap_canvas {
    overflow:hidden;
    height:500px;
    width:100%;
    margin-left: auto;
}
.gmap_canvas iframe{
    height:500px;
    width:100%;
}

/* ########### portfolio ############# */
.section-project{
    padding: 30px 40px;
    margin: auto;
}
.section-project ul{
    padding-left: 30px;
    padding-bottom: 20px;
    border: 1px solid rgb(45, 0, 247);
    border-radius: 0 0 7px 7px;
    border-top: none;
}
.section-project h1,.section-project h2{
    background:rgb(21, 0, 95);
    padding: 10px 0 10px 30px;
    border-radius: 7px 7px 0 0;
    color: #ffffff;
}
#my-projects a{
    display: inline-block;
    padding:15px 0 0 15px;
    color: #0016db;
}


  #my-projects a:link {
    color: #959599;
  }
  
  /* visited link */
  #my-projects a:visited {
    color: #accbf3;
  }
  
  /* mouse over link */
  #my-projects a:hover {
    color: #ff0000;
    transform: scale(1.2);
  }
  
  /* selected link */
  #my-projects a:active {
    color: #ffff00;
  } 

.project div{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 30px 0 20px 0;
}
.project img{
    margin:10px;
    width: 300px;
    height: 300px;
    border-radius: 7px;
    transition: transform .4s;
}
.project img:hover {
    transform: scale(1.2);
}



/* ######## icon ###### */
aside{
    position: fixed;
    right: 10px;
    display: flex;
    flex-flow: column;
    z-index: 900;
}
.icon-s{
    font-size: 29pt;
    background: #fff;
    color: dodgerblue;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: transform .4s;
}
.icon-s:hover{
    transform: scale(1.2);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* .title{
        display: none;
    } */

}

/* Small devices ( 600px and down) */
@media only screen and (max-width: 600px) {
    #navbar a {
        font-size: 12pt;
        margin-right: 0;
    }
    #showcase{
        top: -63px;
        padding-top: 65px;
        height: 667px;
        margin-bottom: 15px;
        background: url(images/alpha-academy-java.jpg) no-repeat -600px;
    }
    .title{
        top: 400px;
        left: 21px;
    }
    #showcase h1 {
        font-size: 12pt;
    }
    #showcase h2 {
        font-size: 14pt;
    }
    #showcase h3 {
        font-size: 13pt;
    }
    .position-txt{
        text-align: center;
    }
    #about{
        flex-wrap: wrap;
    }
    #about img{
        width: 180px;
        height: 250px;
    }
    #about h1 {
        position: relative;
    }
    /* contact*/
   
    #contact{
        flex-wrap: wrap;
    }
    #contact input, textarea{
        width: 300px;
        margin: 4px;
    }
    #contact button {
        margin:4px;
        padding: 4px;
        width: 90%;
    }
    #contact-me{
        padding: 0;
    }
    .title-contact {
        margin-top: 30px;
    }
    
}
@media only screen and (min-width: 600px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* #about img {
        width: 370px;
        height: 433px;
    } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1370px) {
    #showcase{
        height: 950px;
    }
    .title{
        top: 500px;
        left: 371px;
    }
}
